@model IEnumerable<AtuliaRestauruntv2.Models.OrderItem>

@{
    ViewData["Title"] = "Order Items";
}

<h1>Restaurunts Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by Product or Order ID" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OrderSortParm"]">Order ID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProductSortParm"]">Product</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderItemId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderItemId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderItemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

